/bootloader/uboot-repo/flash-bootloader.sh
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/custom_ir.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/ds3231.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/hifi_pcm5102a.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/pwm_ab.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/pwm_b-backlight.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/pwm_c-beeper.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/pwm_cd-c.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/pwm_cd.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/pwm_ef-f.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/pwm_ef.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/spi0.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/waveshare_tft24_lcd.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/waveshare_tft35c_lcd.dts
/common/arch/arm/boot/dts/amlogic/overlay/bananapi_m5/waveshare_tft35c_rtp.dts
/hardware/wifi/realtek/drivers/8192eu/rtl8192EU-back/
/hardware/wifi/realtek/drivers/8812au/rtl8812AU-back/
/out/
/prebuilts/clang/host/linux-x86/profiles/
/prebuilts/jdk/jdk9/darwin-x86/lib/modules
/prebuilts/jdk/jdk9/linux-x86/lib/modules
/prebuilts/misc/common/robolectric/android-all/android-all-8.1.0-robolectric-r4458339.jar
/prebuilts/tools/darwin-x86_64/bazel/
/prebuilts/tools/linux-x86_64/bazel/
/tools/dexter/testdata/expected/large.code_coverage
/tools/dexter/testdata/expected/large.verbose_cfg
/tools/external/gradle/gradle-api-3.5-20170307000048+0000.jar
/vendor/bananapi/
/vendor/google/
/vendor/opengapps/
/vim3_lcd_exist_detect.patch
