##############################################################################
# Sample file for project configuration. This file will be copied
# to .config in the top directory and be parsed by genconf.sh to
# generate config.h
##############################################################################

CONFIG_TARGET = ssv6051
CONFIG_HCI = sw			# uart/spi/sdio/usb


#####################################################################
# BSP & CPU Configurations
#####################################################################
CONFIG_SYS_CLK = 40                     # CPU 40MHz
CONFIG_TICK_HZ = 100                    # 1 tick=100Hz=1ms
CONFIG_IRQ_STACK_SIZE = 256             # IRQ stack size
CONFIG_ENABLE_CPU_UART = y		# Enable/Disable CPU UART
CONFIG_CPU_UART_BR = 115200		# CPU UART Baud Rate


####################################################################
# Host and Controller interface Configurations (HCI)
# >> UART Configuration
####################################################################
CONFIG_HCI_UART_BR = 115200          	# UART Baud Rate



####################################################################
# CLI Configurations
####################################################################
CONFIG_CLI_ENABLE = y                   # Enable/Disable CLI
CONFIG_CLI_BUFFER_SIZE = 80             # CLI Buffer size
CONFIG_CLI_ARG_SIZE = 6                 # The number of arguments
CONFIG_CLI_PROMPT = "wifi> "



####################################################################
# TCP/IP Configurations
####################################################################
CONFIG_TCPIP_ENABLE = n



####################################################################
# WIFI Configurations
####################################################################
CONFIG_WLAN_AP_SUPPORT = n		# Enable/Disable AP mode support
CONFIG_WLAN_ADHOC_SUPPORT = n		# Enable/Disable Adhoc mode support
CONFIG_WLAN_MAX_BSS = 1			# The Number of BSSIDs support
CONFIG_WLAN_MAX_STA = 8			# The Number of STAs support




