allow sdcardd mnt_media_rw_file:dir create_dir_perms;
allow sdcardd mnt_media_rw_file:file create_file_perms;

allow sdcardd vold:unix_stream_socket { read write };

# for exfat
allow sdcardd unlabeled:dir { open read write getattr search };
allow sdcardd unlabeled:file { open read write getattr };

allow sdcardd storage_file:dir mounton;

