allow tee self:capability { sys_rawio };
allow tee sysfs_xbmc:file { read open };
allow tee sysfs_video:file { write };
allow tee sysfs_audio:file { write };
allow tee block_device:dir { open read search};
allow tee sda_block_device:blk_file { read open write ioctl };
allow tee drm_device:chr_file { read open write ioctl };
allow tee tee_data_file:dir { add_name write create ioctl remove_name open read rmdir getattr search };
allow tee tee_data_file:file { write create open unlink link read };
#allow tee system_data_file:dir { write search add_name create };
allow tee system_data_file:file read;

allow tee mnt_vendor_file:dir { add_name create remove_name write };
allow tee mnt_vendor_file:file { create open read rename write unlink link };
allow tee mnt_vendor_file:dir { search ioctl open read rmdir getattr };

allow tee unlabeled:dir { add_name write remove_name };
allow tee unlabeled:file { open read rename write };

allow tee hidraw_device:chr_file { create read open write ioctl };
allow tee vendor_file:file { read open getattr execute };
allow tee param_tv_file:dir { search };

#for vmx
net_domain(tee)
allow tee tee_data_file:lnk_file { read open };
allow tee self:capability { net_raw };
allow tee node:tcp_socket { node_bind };
allow tee self:tcp_socket { bind create read write listen accept getopt };
allow tee port:tcp_socket { name_bind } ;
allow tee fwmarkd_socket:sock_file { write } ;
allow tee netd:unix_stream_socket { connectto } ;
