# NTFS
type fuseblk, sdcard_type, fs_type, mlstrustedsubject;
type hfsplus, sdcard_type, fs_type;
type iso9660, sdcard_type, fs_type;
type udf,sdcard_type, fs_type;
#type proc_mounts, fs_type;

type pppoe_wrapper_socket, file_type;

# XBMC
type sysfs_xbmc, fs_type, sysfs_type;
# Update
type update_data_file, file_type, data_file_type, core_data_file_type;
#optee
type drm_device, fs_type,sysfs_type;

#dig_socket
type dig_socket, file_type;

#TV param
type param_tv_file, file_type;
#type param_tv_file, fs_type, contextmount_type;

#boot
type boot_data_file, file_type;
type factory_data_file, file_type;
type swap_data_file, file_type;
type misc_data_file, file_type;

#power
type sysfs_mpgpu_cmd, fs_type, sysfs_type;
type sysfs_power_trigger, fs_type, sysfs_type;
type sysfs_mpgpu_scale, fs_type, sysfs_type;

type sysfs_fb0_afbcd, fs_type, sysfs_type;
type sysfs_digital_codec, fs_type, sysfs_type;
type sysfs_audio_samesource, fs_type, sysfs_type;
type sysfs_audio_cap, fs_type, sysfs_type;
type sysfs_aud_output_chs, fs_type, sysfs_type;
type sysfs_audio, fs_type, sysfs_type;
type sysfs_video, fs_type, sysfs_type;

type ppp_system_file, exec_type, file_type;
type ppp_data_file, file_type;
type log_file, file_type, data_file_type, core_data_file_type;
type tee_droid_data_file, file_type, data_file_type, core_data_file_type;

type optee_file, file_type, data_file_type, core_data_file_type;
type sysfs_cec, fs_type, sysfs_type;
type sysfs_display, fs_type, sysfs_type;
type sysfs_stb, fs_type, sysfs_type;
type sysfs_vdec, fs_type, sysfs_type;
type sysfs_lcd, fs_type, sysfs_type;
type sysfs_rdma, fs_type, sysfs_type;
type sysfs_am_vecm, fs_type, sysfs_type;
type sysfs_di, fs_type, sysfs_type;
type sysfs_wifi, fs_type, sysfs_type;

type sysfs_store, fs_type, sysfs_type;
type sysfs_defendkey, fs_type, sysfs_type;
#type sysfs_usb, fs_type, sysfs_type;
type sysfs_boottype, fs_type, sysfs_type;
#type sysfs_thermal, fs_type, sysfs_type;
type sysfs_amhdmitx, fs_type, sysfs_type;
type sysfs_amvdec, fs_type, sysfs_type;
type sysfs_remote, fs_type, sysfs_type;

type sysfs_clock, fs_type, sysfs_type;
type sysfs_hdmi, fs_type, sysfs_type;

type sysfs_ir, fs_type, sysfs_type;
type sysfs_pm, fs_type, sysfs_type;

type reco_file, file_type;

type sysfs_unifykey, fs_type, sysfs_type;
type sysfs_block_ahead, fs_type, sysfs_type;

type wifi_socket, file_type, data_file_type, core_data_file_type;
type hdcp_file, file_type, data_file_type;

#for app jni lib
type app_jni_lib_file, vendor_file_type, file_type;

# /data/btmic/
type btmic_data_file, file_type, data_file_type;

type debugfs_mali, fs_type, sysfs_type, debugfs_type;
type sysfs_mali, fs_type, sysfs_type;
type debugfs_ion, fs_type, sysfs_type, debugfs_type;
type debugfs_demod, fs_type, sysfs_type, debugfs_type;

type proc_vm_writable, fs_type, proc_type;

type ctsplayer_file, fs_type, sysfs_type;
