allow hal_thermal_default sysfs:dir { open read };
allow hal_thermal_default sysfs:file { open read };
allow hal_thermal_default proc_stat:file { r_file_perms };
