type systemcontrol_hwservice, hwservice_manager_type;
type hdmicecd_hwservice, hwservice_manager_type;
type droidvold_hwservice, hwservice_manager_type;
type tvserver_hwservice, hwservice_manager_type;
type remotecontrol_hwservice, hwservice_manager_type;
type imageserver_hwservice, hwservice_manager_type;
type subtitleserver_hwservice, hwservice_manager_type;
type dtvkitserver_hwservice, hwservice_manager_type;
type miracast_hdcp2_hwservice, hwservice_manager_type;