type subtitle_service,          service_manager_type;
type imageserver_service,       service_manager_type;
type tvserver_service,          service_manager_type;
type hdmi_cec_service,          service_manager_type;
type system_control_service,    service_manager_type;
type pppoe_service,             service_manager_type;
type screenmediasource_service, service_manager_type;
type tee_service,               service_manager_type;
type droidmount_service,        service_manager_type;
type bcmdl_service,             service_manager_type;
type miracast_hdcp2_service,    service_manager_type;
